.swiper {
    width: 100%;
    height: 100%;
    
  }
  
.swiper .swiper-pagination-bullets span{
    background: #4f46e5 !important;
  }

.swiper .swiper-button-prev {
    color: #4f46e5 !important;
    width: 1px !important;
    height: 1px !important;
  }

.swiper .swiper-button-next {
    color: #8586e9ae !important;
    width: 1px !important;
    height: 1px !important;
    font-size: 2px  !important;
  }
  